@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import "tailwindcss";

@theme {
    --font-sofia: "Sofia Sans", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-sofiacond: "Sofia Sans Condensed", sans-serif;
}

 /** {
  @apply border border-red-500;
} */
